[Data in Kaggle](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results?select=athlete_events.csv)

# Import the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read the data

In [2]:
df = pd.read_csv('athlete_events.csv')

### Don't forget to drop duplicates first

In [3]:
df = df.drop_duplicates()

# <font color='red'>**Beginner level**</font>

### Find the missing data in each column

In [4]:
missing_values = df.isnull().sum()
print(missing_values)

ID             0
Name           0
Sex            0
Age         9315
Height     58814
Weight     61527
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     229959
dtype: int64

### Number of males and females

In [5]:
gender_counts = df['Sex'].value_counts()
print(gender_counts)

M    195353
F     74378
Name: Sex, dtype: int64

### How many cities do we have and what are they ?

In [6]:
num_cities = df['City'].nunique()
city_names = df['City'].unique()
print('Number of cities:', num_cities)
print('City names:', city_names)

Number of cities: 42
City names: ['Barcelona' 'London' 'Antwerpen' 'Paris' 'Calgary' 'Albertville'
 'Lillehammer' 'Los Angeles' 'Salt Lake City' 'Helsinki' 'Lake Placid'
 'Sydney' 'Atlanta' 'Stockholm' 'Sochi' 'Nagano' 'Torino' 'Beijing'
 'Rio de Janeiro' 'Athina' 'Squaw Valley' 'Innsbruck' 'Sarajevo'
 'Mexico City' 'Munich' 'Seoul' 'Berlin' 'Oslo' "Cortina d'Ampezzo"
 'Melbourne' 'Roma' 'Amsterdam' 'Montreal' 'Moskva' 'Tokyo' 'Vancouver'
 'Grenoble' 'Sapporo' 'Chamonix' 'St. Louis' 'Sankt Moritz'
 'Garmisch-Partenkirchen']

# <font color='red'>**Intermediate level**</fond>

### Find the number of athlete for each year

In [7]:
athlete_counts = df.groupby('Year').size()
print(athlete_counts)

Year
1896      380
1900     1898
1904     1301
1906     1733
1908     3069
1912     4040
1920     4292
1924     5570
1928     5238
1932     2817
1936     7146
1948     7383
1952     9358
1956     6434
1960     9235
1964     9480
1968    10479
1972    11959
1976    10502
1980     8937
1984    11588
1988    14676
1992    16413
1994     3160
1996    13780
1998     3605
2000    13821
2002     4109
2004    13443
2006     4382
2008    13602
2010     4402
2012    12920
2014     4891
2016    13688
dtype: int64

### Which athlete participated the most? (his/her name and ID)

In [8]:
athlete_counts = df.groupby(['ID', 'Name']).size()
most_participated = athlete_counts.idxmax()
print('Most participated athlete:')
print('ID:', most_participated[0])
print('Name:', most_participated[1])

Most participated athlete:
ID: 106296
Name: Heikki Ilmari Savolainen

# <font color='red'>**Advanced level**</fond>

### Find the number of each medal for each year.
##### The output should look like this 
![Capture.PNG]()

In [10]:
medal_counts = df.groupby(['Year', 'Medal']).size()
medal_counts

Year  Medal
1896  Bronze     38
      Gold       62
      Silver     43
1900  Bronze    175
      Gold      198
               ...
2014  Gold      202
      Silver    197
2016  Bronze    703
      Gold      665
      Silver    655
Length: 105, dtype: int64

# <font color='red'>**You are Geek!**</fond>

### What is the number of winners with the gold medal in each city?

In [11]:
gold_df = df[df['Medal'] == 'Gold']
gold_counts = gold_df.groupby('City')['ID'].nunique()
print(gold_counts)

City
Albertville                 94
Amsterdam                  229
Antwerpen                  415
Athina                     802
Atlanta                    568
Barcelona                  515
Beijing                    629
Berlin                     290
Calgary                     77
Chamonix                    51
Cortina d'Ampezzo           48
Garmisch-Partenkirchen      34
Grenoble                    59
Helsinki                   280
Innsbruck                  118
Lake Placid                 92
Lillehammer                100
London                    1129
Los Angeles                659
Melbourne                  258
Mexico City                318
Montreal                   402
Moskva                     427
Munich                     366
Nagano                     134
Oslo                        40
Paris                      419
Rio de Janeiro             618
Roma                       277
Salt Lake City             145
Sankt Moritz                67
Sapporo                     64
Sarajevo                    66
Seoul                      469
Sochi                      176
Squaw Valley                48
St. Louis                  136
Stockholm                  309
Sydney                     615
Tokyo                      320
Torino                     158
Vancouver                  160
Name: ID, dtype: int64

### Find the total missing data for each year?

In [12]:
missing_counts = df.groupby('Year').apply(lambda x: x.isnull().sum())
print(missing_counts)

      ID  Name  Sex   Age  Height  Weight  Team  NOC  Games  Year  Season  \
Year
1896   0     0    0   163     334     331     0    0      0     0       0
1900   0     0    0   770    1782    1819     0    0      0     0       0
1904   0     0    0   274    1088    1154     0    0      0     0       0
1906   0     0    0   743    1476    1528     0    0      0     0       0
1908   0     0    0   637    2595    2587     0    0      0     0       0
1912   0     0    0   156    3319    3444     0    0      0     0       0
1920   0     0    0   845    3525    3821     0    0      0     0       0
1924   0     0    0  1103    4602    4881     0    0      0     0       0
1928   0     0    0   924    4264    4521     0    0      0     0       0
1932   0     0    0   305    1624    2301     0    0      0     0       0
1936   0     0    0   199    5954    6159     0    0      0     0       0
1948   0     0    0  1166    6214    6232     0    0      0     0       0
1952   0     0    0   277    7170    7171     0    0      0     0       0
1956   0     0    0   638    3748    3754     0    0      0     0       0
1960   0     0    0   221     961    1048     0    0      0     0       0
1964   0     0    0    56     681     708     0    0      0     0       0
1968   0     0    0   118     153     169     0    0      0     0       0
1972   0     0    0    96     301     389     0    0      0     0       0
1976   0     0    0    52     876     920     0    0      0     0       0
1980   0     0    0   187     588     596     0    0      0     0       0
1984   0     0    0   216     598     603     0    0      0     0       0
1988   0     0    0   110     933     928     0    0      0     0       0
1992   0     0    0    44    3175    3157     0    0      0     0       0
1994   0     0    0     2     187     189     0    0      0     0       0
1996   0     0    0     8    1871    1821     0    0      0     0       0
1998   0     0    0     2      84      86     0    0      0     0       0
2000   0     0    0     1     123     126     0    0      0     0       0
2002   0     0    0     0      29      47     0    0      0     0       0
2004   0     0    0     0      36      37     0    0      0     0       0
2006   0     0    0     0       6      16     0    0      0     0       0
2008   0     0    0     2     151     159     0    0      0     0       0
2010   0     0    0     0       2      24     0    0      0     0       0
2012   0     0    0     0     168     360     0    0      0     0       0
2014   0     0    0     0      20     218     0    0      0     0       0
2016   0     0    0     0     176     223     0    0      0     0       0

      City  Sport  Event  Medal
Year
1896     0      0      0    237
1900     0      0      0   1305
1904     0      0      0    815
1906     0      0      0   1275
1908     0      0      0   2238
1912     0      0      0   3099
1920     0      0      0   2984
1924     0      0      0   4608
1928     0      0      0   4415
1932     0      0      0   2078
1936     0      0      0   6121
1948     0      0      0   6396
1952     0      0      0   8325
1956     0      0      0   5391
1960     0      0      0   8177
1964     0      0      0   8265
1968     0      0      0   9223
1972     0      0      0  10545
1976     0      0      0   8971
1980     0      0      0   7335
1984     0      0      0   9890
1988     0      0      0  12831
1992     0      0      0  14383
1994     0      0      0   2829
1996     0      0      0  11938
1998     0      0      0   3165
2000     0      0      0  11817
2002     0      0      0   3631
2004     0      0      0  11442
2006     0      0      0   3856
2008     0      0      0  11554
2010     0      0      0   3882
2012     0      0      0  10979
2014     0      0      0   4294
2016     0      0      0  11665